.profile__add-button {
  display: flex;
  margin: auto 0;
  width: 150px;
  height: 50px;
  background-image: url(../../../images/profile-add-button.svg);
  background-color: #000;
  border: 0;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
    .profile__add-button {
      margin: 14px auto;
      width: 282px;
      background-image: url(../../../images/profile-add-button-big.svg);
    }
}
