.profile__name-edit {
  display: inline-block;
  width: fit-content;
  padding: 0 42px 0 0;
  position: relative;
}

@media screen and (max-width: 767px) {
  .profile__name-edit {
    padding: 0 28px;
    margin: 0 auto;
  }
}
